.flex-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 10px;
  padding: 40px;
  flex-wrap: wrap;
}

.flex-container.clicked {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.flex-item-child {
  padding: 20px;
  text-wrap: wrap;
}

.flex-item {
  cursor: default;
  padding: 10px;
  margin: auto;
  background-color: white;
  min-width: 50%;
  border: 4px solid rgb(128 123 123 / 11%);
  border-radius: 5px;
  transition: transform 150ms ease-in-out;
  min-height: 100%;
}

.video{
 cursor: pointer;
 height: 400px;
 width: 700px;
 margin-left: 15px;
}

.title-parent{
  margin: 10px
}

.title-item {
  color: rgba(6, 6, 82, 0.844);
  font-weight: bold;
  margin-left: 14px;
  font-size: 30px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding: 40px;
  }

  .flex-item {
    box-shadow: 12px 12px 12px 20px rgba(0, 0, 255, .2);
  }

  .flex-item {
    cursor: pointer;
    padding: 10px;
    margin: auto;
    background-color: white;
    min-width: 300px;
    border: 2px solid rgb(249, 249, 249);
    border-radius: 5px;
    box-shadow: 1px 12px 20px 1px rgba(0, 0, 255, .2);
    transition: transform 150ms ease-in-out;
    min-height: 0%;
  }

  .video{
    height: 250px;
    width: 400px;
    margin-left: 0px;
   }

   .title-item {
    color: rgba(6, 6, 82, 0.844);
    font-weight: bold;
    margin-left: 0px;
    font-size: 30px;
  }
  
}