.topnav {
  overflow: hidden;
  background-color: rgb(249, 249, 249);
  position: fixed;
  width: 100%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  font-weight: bold;
  color: rgba(6, 6, 82, 0.844);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(249, 249, 249);
}